body {
    background-image: url(./img/dawn-1080-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    --main-txt-color: #344b52;
    --accent: #ffdcc6;
    
}



input[type="text"],
input[type="text"]:focus {
    
    border: none;
    background: #fcfcfc;
    
}
.todos li {
    background: #fcfcfc;
    color: var(--main-txt-color);
}
.delete {
    cursor: pointer;
}

* {
    font-family: "Montserrat", sans-serif;
    
}

header {
    color: #3c7990;
}

label {

    color: var(--main-txt-color);

}

form {
    
    color: #344b52;
}

.search {

    color: #344b52;
}


.filtered {
    display: none !important;
}

h1 {
    color: var(--accent);
}